################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Client/.vs/Client/v17/Browse.VC.opendb
